:root {
  /* COLORS */
  --color-black: #000;
  --color-gray: #e2e1e1;
  --color-gray-dark: #d9d9d9;
  --color-blue-dark: #165996;
  --color-white: #fff;
  --color-red: #b90404;

  /* SEMANTIC */
  --color-text: var(--color-black);
  --section-gap: 160px;
  --font-family: 'Inter', 'Helvetica', sans-serif;
  --color-error: var(--color-red);
  --color-border: var(--color-black);
}
